{% extends "master.html" %}

{% block title %}
  Perfil: {{ mymember.firstname }}
{% endblock %}

{% block styles %}
{% load static %}
{% endblock %}

{% block content %}

<div class="contenido-principal">

  <div class="header-tenis">
     <h1>Datos: {{ mymember.firstname }} {{ mymember.lastname }}</h1>
  </div>

  <table class="tabla-elegante">
    <tbody>
      <tr>
        <td><strong>Phone:</strong></td>
        <td>{{ mymember.phone }}</td>
      </tr>
      <tr>
        <td><strong>Member since:</strong></td>
        <td>{{ mymember.joined_date }}</td>
      </tr>
      <tr>
        <td><strong>Documento:</strong></td>
        <td>{{ mymember.Documento }}</td>
      </tr>
      <tr>
        <td><strong>Email:</strong></td>
        <td>{{ mymember.email }}</td>
      </tr>
    </tbody>
  </table>

  <div class="btn-container">
    <a href="/members" class="btn-saque">Volver a Members</a>
  </div>

</div>

{% endblock %}