{% extends "master.html" %}
{% block title %}Lista de Miembros{% endblock %}
{% block styles %}
{%load static%}

{% endblock %}

{% block content %}


<div class="header-tenis">
  <h1>Lista de Miembros</h1>
</div>

<div class="contenido-principal">
  <table class="tabla-miembros">
    <thead>
      <tr>
        <th>Nombre</th>
      </tr>
    </thead>
    <tbody>
     <h1>Resultados de Filtros</h1>

<!-- ANDRES -->
<h2>Nombres que empiezan por "i"</h2>
<table class="tabla-filtros">
    <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
    </tr>
    {% for x in records_andres %}
    <tr>
        <td>{{ x.id }}</td>
        <td>{{ x.firstname }}</td>
        <td>{{ x.lastname }}</td>
    </tr>
    {% endfor %}
</table>


<!-- PAULA -->
<h2>Nombres que contienen "mar"</h2>
<table class="tabla-filtros">
    <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
    </tr>
    {% for x in records_paula %}
    <tr>
        <td>{{ x.id }}</td>
        <td>{{ x.firstname }}</td>
        <td>{{ x.lastname }}</td>
    </tr>
    {% endfor %}
</table>


<!-- CARLOS -->
<h2>Nombres que terminan en "os"</h2>
<table class="tabla-filtros">
    <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
    </tr>
    {% for x in records_carlos %}
    <tr>
        <td>{{ x.id }}</td>
        <td>{{ x.firstname }}</td>
        <td>{{ x.lastname }}</td>
    </tr>
    {% endfor %}
</table>


<!-- VALENTINA -->
<h2>Nombres dentro del grupo (valentina, valery, valeria)</h2>
<table class="tabla-filtros">
    <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
    </tr>
    {% for x in records_Valentina %}
    <tr>
        <td>{{ x.id }}</td>
        <td>{{ x.firstname }}</td>
        <td>{{ x.lastname }}</td>
    </tr>
    {% endfor %}
</table>


<!-- JUAN -->
<h2>Búsqueda exacta de "juan"</h2>
<table class="tabla-filtros">
    <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
    </tr>
    {% for x in records_Juan %}
    <tr>
        <td>{{ x.id }}</td>
        <td>{{ x.firstname }}</td>
        <td>{{ x.lastname }}</td>
    </tr>
    {% endfor %}
</table>


<!-- CAMILA -->
<h2>Nombres que contienen "mil"</h2>
<table class="tabla-filtros">
    <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
    </tr>
    {% for x in records_Camila %}
    <tr>
        <td>{{ x.id }}</td>
        <td>{{ x.firstname }}</td>
        <td>{{ x.lastname }}</td>
    </tr>
    {% endfor %}
</table>


<!-- FELIPE -->
<h2>Nombres que NO empiezan por "f"</h2>
<table class="tabla-filtros">
    <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
    </tr>
    {% for x in recods_Felipe %}
    <tr>
        <td>{{ x.id }}</td>
        <td>{{ x.firstname }}</td>
        <td>{{ x.lastname }}</td>
    </tr>
    {% endfor %}
</table>


<!-- SOFIA -->
<h2>Nombres que empiezan con S y terminan en A (regex)</h2>
<table class="tabla-filtros">
    <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
    </tr>
    {% for x in records_Sofia %}
    <tr>
        <td>{{ x.id }}</td>
        <td>{{ x.firstname }}</td>
        <td>{{ x.lastname }}</td>
    </tr>
    {% endfor %}
</table>


<!-- ENRIQUE -->
<h2>Nombres que contienen "en" o apellidos que contienen "que"</h2>
<table class="tabla-filtros">
    <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
    </tr>
    {% for x in records_Enrique %}
    <tr>
        <td>{{ x.id }}</td>
        <td>{{ x.firstname }}</td>
        <td>{{ x.lastname }}</td>
    </tr>
    {% endfor %}
</table>


<!-- DANIEL -->
<h2>IDs en el rango 1 a 5</h2>
<table class="tabla-filtros">
    <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
    </tr>
    {% for x in records_Daniel %}
    <tr>
        <td>{{ x.id }}</td>
        <td>{{ x.firstname }}</td>
        <td>{{ x.lastname }}</td>
    </tr>
    {% endfor %}
</table>

    </tbody>
  </table>

  <p><a href="/" class="btn-saque">Volver al Inicio</a></p>
</div>
{% endblock %}
